body {
	background: rgba(0, 0, 255, 1);
	background: -moz-linear-gradient(
		left,
		rgba(0, 0, 255, 1) 0%,
		rgba(241, 111, 92, 1) 0%,
		rgba(246, 41, 12, 1) 0%,
		rgba(0, 0, 255, 1) 100%
	);
	background: -webkit-gradient(
		left top,
		right top,
		color-stop(0%, rgba(0, 0, 255, 1)),
		color-stop(0%, rgba(241, 111, 92, 1)),
		color-stop(0%, rgba(246, 41, 12, 1)),
		color-stop(100%, rgba(0, 0, 255, 1))
	);
	background: -webkit-linear-gradient(
		left,
		rgba(0, 0, 255, 1) 0%,
		rgba(241, 111, 92, 1) 0%,
		rgba(246, 41, 12, 1) 0%,
		rgba(0, 0, 255, 1) 100%
	);
	background: -o-linear-gradient(
		left,
		rgba(0, 0, 255, 1) 0%,
		rgba(241, 111, 92, 1) 0%,
		rgba(246, 41, 12, 1) 0%,
		rgba(0, 0, 255, 1) 100%
	);
	background: -ms-linear-gradient(
		left,
		rgba(0, 0, 255, 1) 0%,
		rgba(241, 111, 92, 1) 0%,
		rgba(246, 41, 12, 1) 0%,
		rgba(0, 0, 255, 1) 100%
	);
	background: linear-gradient(
		to right,
		rgba(0, 0, 255, 1) 0%,
		rgba(241, 111, 92, 1) 0%,
		rgba(246, 41, 12, 1) 0%,
		rgba(0, 0, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#0000ff', GradientType=1 );
}

h1 {
	text-align: center;
	color: white;
	font-size: 3rem;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.question {
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	justify-self: center;
	padding: 10px;
	margin: 10px;
	width: 600px;
	border-radius: 20px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
}

.answers > button {
	margin: 5px;
	padding: 5px;
	border: none;
}

.answers > button:hover {
	background-color: greenyellow;
}

.answers > button:focus {
	border: none;
}
